[submodule "config/cmake"]
	path = config/cmake
	url = https://github.com/StoiridhProject/StoiridhCMakeTools.git
[submodule "config/qbs"]
	path = config/qbs
	url = https://github.com/StoiridhProject/StoiridhTools.git
